@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  
}


.container {
   height: 100vh;
   width: 100%;
   background-color: #000000;

   display: flex;
   justify-content: center;
   align-items: center;
}


.card {
    width: 500px;
    height: 300px; 
    cursor: pointer;
    perspective: 1000px;;   
}

.inner-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s  ;
    transform-style: preserve-3d;
}




.front-card, .back-card {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 15px; 
    padding: 5px 10px;
    z-index: 100;
    backface-visibility: hidden;
}

.map-img   {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	opacity: .3;
    z-index: -1;
}


.top-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.top-card .chip {
	width: 45px;
	height: 45px;
}

.top-card .visa {
	width: 85px;
	height: 30px;
	 
}


.middle-card-numer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 85px;
}

.middle-card-numer .num {
    font-size: 2rem;
   
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
	text-transform: capitalize;
}

.bottom-card-holder {
    padding: 10px 0;
	margin-top: 38px; 
}

.name, .till {
    font-size: 25px;
}


 
.back-card .bar {
	background: #222;
	height: 60px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 10px;
	 z-index: 10;
}

.back-card .cvv   {
	margin-top: 10px;
}

.cvv div {
    flex: 1;
}

.cvv img {
     width: 100%;
     height: 45px;
     display: block;
}

.cvv p {
    background-color: #ffffff;
    color: #000000;
    width:40px;
    text-align: center;
    padding: 13px 0;
    font-weight: 700;
}

.back-card .read p {
	margin-top: 58px;
	font-size: 13px;
	line-height: 1.5;
	font-weight: 100;
}

.back-card .sign   {
	margin-top: 44px;
}

.back-card  {
    transform: rotateY(180deg);
}

.card:hover  .inner-card {
   transform: rotateY(-180deg);
}